<%- include("partials/header") %>
<body>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
    <div>
       <h2>Enter your tasks here and checkbox those that have been completed.</h2>
    </div>

    <div class="box">
        <% newlistItems.forEach(function(item){ %>
            <form action="/delete" method="post">
               <div class="item">
                <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange = "this.form.submit()">
                <p>
                    <%= item.name %>
                </p>
               </div>
               <input type="hidden" name="listName" value="<%= listTitle %>"></input>
            </form>
        <% }); %>

        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="Type Here" autocomplete="off">
            <button type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>    
    </div>
<%- include("partials/footer") %>
</body>
</html>